@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

:root {
  --background: #f3ebeb;
  --grey: #808080;
  --green: #0d330d;
  --yellow: #dbc30c;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container-fluid {
  margin: 10px;
}

.navbar-nav .nav-item {
  margin: 10px;
}

.button {
  font-size: 20px;
}