@charset "UTF-8";

* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* navbar */

nav {
    position: absolute;
    top: 20px;
    width: 100%;
    margin: 10px;
}

nav ul {
    display: flex;
    gap: 5%;
    list-style: none;
}

nav ul a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* carrossel */

.carousel-inner .carousel-item {
    transition: .5s ease-out;
  }

.carousel-item {
    height: 80vh;
    filter: brightness(.5);
}

/* conteudo */

.col img {
    width: 45vw;
}

.col article {
    width: 45vw;
}